* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
html,body {
  width: 100%;
  height: 100%;
}
body {
  font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;

}
#navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: rgba(0,0,0,.4);   

  z-index: 30;
}
#navbar .ct {
  max-width: 1200px;
  margin: 0 auto;
  vertical-align: middle;
  color: #f5b0e0;
  padding: 0 30px;

}
.ct:after {
  content: "";
  display: block;
  clear: both;
}
.logo {
  float: left;
  position: relative;
  width: 200px;
  height: 70px;
  line-height: 70px;
}
.logo span {
  background: #f5b0e0 url("http://upload-images.jianshu.io/upload_images/5790560-bc221c982d5c0662.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240") 0 0 no-repeat;
  width: 50px;
  height: 50px;
  display: inline-block;
  vertical-align: middle;
  content: "";
  position: relative;
  top: -5px;
}
.logo a {
  font-size: 25px;
  display: inline-block;
  color: #f5b0e0;

}
.reference {
  float: right;
  position: relative;
  width: 400px;
  text-align: right;
}
.reference li {
  display: inline-block;

}
.reference li a {
  display: inline-block;
  color: #fff;
  height: 50px;
  line-height: 50px;
  margin: 10px 1px;

  border-radius: 5px;
  padding: 0 5px;
}
.reference .active a {
  background-color: #ffd136;
}
.reference li a:hover {
  color: #0f0;
}
#fully-day a:link,#footer a:link {
  color: #000;
}
#fully-day a:hover,#footer a:hover {
  color: #0f0;
}
#header {
  width: 100%;
  height: 100%;
/*      background: url(https://i0.hdslb.com/bfs/archive/fa65150f017b844d1f79bc01681238bce153f310.jpg) no-repeat;
  background-size: cover; */ 
}
/*    #header .carousel {
  width: 960px;

}*/
.carousel {
  position: relative;
  min-width: 100%;
  height: 100%;
  overflow: hidden;
}
.carousel>.img-ct {
  position: absolute;
/*      position: relative;
  height: 200px;*/
  width: 6000px;
}
.carousel>.img-ct:after {
  content: '';
  display: block;
  clear: both;
}
.carousel>.img-ct li{
  float: left;
}

.carousel>.img-ct img {
  float: left;
  width: 1500px;
  height: 100%;
}
.carousel>.btn {
  display: block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  color: #fff;
  font-size: 20px;
  background-color: #333;
  text-align: center;
  opacity: 0.5;
  position: absolute;
  top: 50%;
  margin-top: -15px;
}
.carousel>.btn:hover {
  opacity: 1;
}
.btn-pre {
  left: 10px;
}
.btn-next {
  right: 10px;
}
.carousel>.bullet {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}
.carousel>.bullet>li {
  width: 18px;
  height: 18px;
  margin: 2px;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
/*      border: 1px solid red;*/
  display: inline-block;
/*      background-color: #000;*/
  background: url(http://static.hdslb.com/images/base/icons.png) -855px -790px no-repeat;
}
.carousel>.bullet>li>.bullet-prev {
  display: none;
}
.carousel>.bullet>li img {
  width: 150px;
  height: 80px;
  position: absolute;
  top: -85px;
  left: -65px;
  border: 2px solid #fff;
}
.carousel>.bullet>.active,.carousel>.bullet>.active:hover {
  background-position: -855px -727px;
}
/*    .carousel>.bullet>.active,.carousel>.bullet>.active>img:hover {
  display: block;
}*/
.carousel>.bullet>li:hover {
  background-position: -919px -790px;
}
.carousel>.bullet>li:hover .bullet-prev {
  display: block;

}
.introduce {
  position: absolute;
  width: 1000px;
  height: 500px;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  z-index: 20;
}
.introduce .welcome {
  font-size: 40px;
  margin-top: 150px;
  margin-bottom: 20px;
  color: #000;
}
.introduce .theme {
  font-size: 70px;
  font-weight: bold;
  margin-bottom: 30px;
  color: #000;
}
.introduce a {
  background-color: #ffd136;
  color: white;
  font-size: 20px;
  padding: 15px 30px;
  border-radius: 5px;
}
.introduce a:hover {
  color: #ffd136;
  background-color: rgba(0,0,0,.4);
}
#main-role,#fully-day {
  min-width: 960px;
  background-color: #F5F5F5;
}
#main-role>.main-ct {
  width: 960px;
  margin: 30px auto;
  text-align: center;
}
#main-role>.main-ct:after {
  content: "";
  display: block;
  clear: both;
}
.main-role-1 {
  float: left;
  width: 400px;
}
#main-role img {
  display: inline-block;
  border-radius: 50%;
  width: 400px;
  height: 400px;
  border: 5px solid #fff;
  opacity: 0.9;
}
.main-role-2 {
  float: right;
  width: 400px;
}
#main-role p {
  text-indent: 2em;
  text-align: left;
  letter-spacing: 6px;
}
#main-role h2 {
  margin: 10px 0;
}
#main-role h1 {
  margin: 30px 0;
}
#main-role img:hover {
  border: 5px solid #0f0;
  opacity: 1;
  cursor: pointer;
}   
#minor-role {
  text-align: center;  
  padding: 50px 0;
}
#minor-role>p {
  margin: 10px;
}
ul,li {
  list-style-type: none;
}
.page-bg {
  width: 960px;
  margin: 30px auto;
}
.page-bg img {
  width: 150px;
  height: 150px;
  display: inline-block;
  border-radius: 50%;
  border: 3px solid #fff;
}
#minor-role .ct li {
  position: relative; 
  padding: 0 0 125px 0;
}
#minor-role .ct li:last-child {   
  padding-bottom: 0;
}
#minor-role .ct {
  position: relative;
}
.ct .summary {
  position: absolute;
  top: 0;
  right: 50%;
  width: 400px;
  margin-right: 80px;
  text-align: right;
}
.ct li:nth-child(even) .summary {
  position: absolute;
  top: 0;
  left: 50%;
  width: 400px;
  margin-left: 80px;
  text-align: left;
}
.summary h4 {
  margin: 10px 0;
}
#minor-role .ct:after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  top: 0;
  height: 100%;
  border-left: 2px solid #ccc;
  z-index: -1;
}
#minor-role .ct a img:hover {
  border: 3px solid #ccc;
}
@font-face {
  font-family: 'iconfont';  /* project id 291076 */
  src: url('//at.alicdn.com/t/font_a46iu3wk69ee9udi.eot');
  src: url('//at.alicdn.com/t/font_a46iu3wk69ee9udi.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_a46iu3wk69ee9udi.woff') format('woff'),
  url('//at.alicdn.com/t/font_a46iu3wk69ee9udi.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_a46iu3wk69ee9udi.svg#iconfont') format('svg');
}
.iconfont {
  font-family:"iconfont" !important;
  font-size:30px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#fully-day>.fully-ct {
  width: 960px;
  margin: 30px auto;
  text-align: center;
}
#fully-day .img-ct {
  width: 960px;
  margin: 0 auto;
}
.img-arr {
  width: 961px;

}
/*.imh-arr {
  margin-top: -10px;
  margin-right: -10px;
}*/
.img-arr:after {
  content: '';
  display: block;
  clear: both;
}
.img-ct>.img-arr>img {
  display: block;
  float: left;
/*      padding-top: 10px;
  padding-right: 10px;
  box-sizing: border-box;*/
  margin-top: 10px;
  margin-right: 10px;
}
#fully-day .btn {
  padding: 10px 5px;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  outline: none;
  background-color: rgba(0,0,0,0);
  cursor: pointer;
}
#fully-day .btn:hover {
  background-color: black;
  color: #fff;
}
.every-day img {
  display: inline-block;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  border: 2px solid #fff;
  margin-bottom: 10px;
}
.every-day li{
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 30px; 
}
#fully-day h1 {
  margin: 20px 0;
}
#content-us {
  min-width: 960px;
  text-align: center;
  padding: 50px 0;
  background-color: #ccc;   
}
#content-us .form {
  position: relative;
  width: 960px;
  margin: 30px auto;
}
#content-us .user {
  float: left;     
}
.user input {
  width: 450px;
  height: 50px;
  display: block;
  margin-bottom: 5px;
}
#content-us .advice {
  float: right;     
}
.advice textarea {
  width: 450px;
  height: 160px;
}
.user:after,.advice:after,.form:after {
  content: "";
  display: block;
  clear: both;
}
.form .submit input {
  display: block;
  padding: 15px 30px;
  color: #fff;
  background-color: #ee9a49;
  font-size: 20px;
  border-radius: 5px;
  position: relative;
  left: -22px;
  top:20px;
  cursor: pointer;
}
input,textarea {
  outline: none;
}
#footer {
  width: 960px;
  margin: 30px auto;
  position: relative;
  height: 50px;
  line-height: 60px;
}
.footer-copy {
  display: inline-block;
  text-align: left;      
  width: 33.33%;
}
.footer-share {
  display: inline-block;
  text-align: center;
  width: 33.33%;
}
.footer-join {
  display: inline-block;
  text-align: right;
  float: right;
  width: 30%;
}